<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magehack_Sms>
            <version>1.0.0</version>
        </Magehack_Sms>
    </modules>
    <global>
        <models>
            <Magehack_Sms>
                <class>Magehack_Sms_Model</class>
                <resourceModel>Magehack_Sms_Mysql4</resourceModel>
            </Magehack_Sms>
            <Magehack_Sms_Mysql4>
                <class>Magehack_Sms_Model_Mysql4</class>
                <entities>
                    <Message>
                        <table>magehack_sms_message</table>
                    </Message>
                </entities>
            </Magehack_Sms_Mysql4>
        </models>
        <resources>
            <Magehack_Sms>
                <setup>
                    <module>Magehack_Sms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Magehack_Sms>
        </resources>
        <blocks>
            <Magehack_Sms>
                <class>Magehack_Sms_Block</class>
            </Magehack_Sms>
        </blocks>
        <helpers>
            <Magehack_Sms>
                <class>Magehack_Sms_Helper</class>
            </Magehack_Sms>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <Magehack_Sms_Held>
                        <class>Magehack_Sms/Observer</class>
                        <method>createOrderHeldMessage</method>
                    </Magehack_Sms_Held>
                    <Magehack_Sms_Unheld>
                        <class>Magehack_Sms/Observer</class>
                        <method>createOrderUnheldMessage</method>
                    </Magehack_Sms_Unheld>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <Magehack_Sms_Shipped>
                        <class>Magehack_Sms/Observer</class>
                        <method>createOrderShippedMessage</method>
                    </Magehack_Sms_Shipped>
                </observers>
            </sales_order_shipment_save_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <Magehack_Sms_Created>
                        <class>Magehack_Sms/Observer</class>
                        <method>createOrderCreatedMessage</method>
                    </Magehack_Sms_Created>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Magehack_Sms>
                    <file>mediaburst/sms.xml</file>
                </Magehack_Sms>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magehack_Sms before="Mage_Adminhtml">Magehack_Sms</Magehack_Sms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mediaburst_sms>
            <general>
                <active>1</active>
                <send_url>https://api.clockworksms.com/xml/send.aspx</send_url>
                <check_url>https://api.clockworksms.com/http/balance.aspx</check_url>
                <buy_url>https://smsapi.mediaburst.co.uk/Login.aspx?ReturnUrl=https://smsapi.mediaburst.co.uk/shop/</buy_url>
                <schedule>* * * * *</schedule>
                <debug>1</debug>
            </general>
            <order_created>
                <active>1</active>
                <from></from>
                <to></to>
                <content>Order {{var order.increment_id}} placed for {{var order.base_grand_total}}</content>
            </order_created>
            <order_held>
                <active>1</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has been placed on hold.</content>
            </order_held>
            <order_unheld>
                <active>1</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has been released from hold.</content>
            </order_unheld>
            <order_shipped>
                <active>1</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has shipped. Shipment {{var shipment.increment_id}}</content>
            </order_shipped>
        </mediaburst_sms>
    </default>
    <crontab>
        <jobs>
            <Magehack_Sms_Send>
                <schedule>
                    <config_path>mediaburst_sms/general/schedule</config_path>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Magehack_Sms/Observer::sendPendingMessages</model>
                </run>
            </Magehack_Sms_Send>
        </jobs>
    </crontab>
</config>
